<div class="list row">
  
    <div class="col-md-6">
      <h4>todoItems List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let todoItem of todoItems; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTodoItem(todoItem, i)"
        >
          {{ todoItem.taskDescription }}
        </li>
      </ul>
  
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTodoItem">
        <h4>TodoItem</h4>
        <div>
          <label><strong>taskDescription:</strong></label> {{ currentTodoItem.taskDescription }}
        </div>
  
        <a class="badge badge-warning" routerLink="/todoItems/{{ currentTodoItem.id }}" 
        routerLinkActive="ranos">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentTodoItem">
        <br />
        <p>Please click on a TodoItem...</p>
      </div>
    </div>
  </div>