<div style="width: 400px; margin: auto;">
    <div *ngIf="currentTutorial" class="edit-form">
      <h4>Tutorial</h4>
      <form>
        <div class="form-group">
          <label for="text">Text</label>
          <input
            type="text"
            class="form-control"
            id="text"
            [(ngModel)]="currentTutorial.text"
            name="text"
          />
        </div>
  
      </form>
  
  
      <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateTutorial()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTutorial">
      <br />
      <p>Cannot access this Tutorial...</p>
    </div>
  </div>